@import url("foundation.css");
@import url("navigations.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
html, body {
  margin: 0; }

h1 {
  font-size: 6vmin;
  line-height: 6vmin;
  color: #ffffff;
  font-weight: 700; }
  @media screen and (max-width: 39.9375em) {
    h1 {
      font-size: 5vh;
      line-height: 5vh; } }

h2 {
  font-size: 3.5vmin;
  line-height: 3.5vmin;
  color: #ffffff;
  font-weight: 800; }
  @media screen and (max-width: 39.9375em) {
    h2 {
      font-size: 3.3vh;
      line-height: 3.3vh; } }

h3 {
  font-size: 2.3vmin;
  line-height: 2.5vmin;
  color: #f9be1d;
  font-weight: 800; }
  @media screen and (max-width: 39.9375em) {
    h3 {
      font-size: 2.4vh;
      line-height: 2.4vh; } }

p {
  font-size: 2.2vmin;
  line-height: 2.2vmin;
  color: #ffffff;
  margin: 0; }
  @media screen and (max-width: 39.9375em) {
    p {
      font-size: 2.7vh;
      line-height: 2.7vh; } }

button {
  color: #000000;
  background: #f9be1d;
  font-size: 2vmin;
  font-weight: 800;
  padding: 4% 10%;
  margin-top: 4%;
  transition: all 0.4s ease 0s;
  box-shadow: inset 0 0 0 0 #000000;
  cursor: pointer; }
  @media screen and (max-width: 39.9375em) {
    button {
      font-size: 2vh; } }
  button:hover {
    box-shadow: inset  0 50px 0 0  #000000;
    color: #f9be1d; }

.clear {
  clear: both; }

.reveal {
  background-color: #000000;
  text-align: center;
  height: 50%;
  min-height: 47%;
  border-radius: 10px;
  width: 70%;
  left: 15%; }
  .reveal:focus {
    outline: none; }
  .reveal img {
    margin-top: 10%; }
  .reveal .lead {
    font-size: 110%;
    line-height: 1.1; }
  .reveal .close-button {
    position: relative;
    color: #000000;
    font-size: 1rem;
    right: 0; }

@media screen and (min-width: 40em) {
  .reveal-overlay {
    display: none !important;
    background-color: transparent; } }

.scroll {
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  width: 100%; }
  @media screen and (min-width: 40em) {
    .scroll {
      overflow: hidden;
      height: 84vh; } }
  .scroll ul {
    position: relative;
    display: block;
    width: auto;
    white-space: nowrap;
    overflow-x: scroll;
    margin: 0;
    clear: both; }
    .scroll ul li {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      margin-left: -5px;
      display: inline-flex; }
      @media screen and (min-width: 40em) {
        .scroll ul li {
          display: inline-flex;
          height: 84vh; } }
      @media screen and (min-width: 40em) {
        .scroll ul li .bg {
          height: 84vh; } }
      @media screen and (max-width: 39.9375em) {
        .scroll ul li .bg {
          max-width: inherit;
          height: 80vh; } }
  .scroll .share {
    position: absolute; }
  .scroll .one .logo {
    position: absolute;
    left: 11%;
    top: 5%;
    z-index: 100; }
    @media screen and (max-width: 39.9375em) {
      .scroll .one .logo {
        left: 9%;
        top: 2%; } }
  .scroll .one .meet-tango {
    width: 46%;
    position: absolute;
    z-index: 98;
    bottom: 18%;
    right: 14%;
    white-space: normal; }
    @media screen and (max-width: 39.9375em) {
      .scroll .one .meet-tango {
        right: 27%; } }
  .scroll .one .ring {
    top: 0;
    left: 2%;
    width: 60%; }
    @media screen and (max-width: 39.9375em) {
      .scroll .one .ring {
        width: 58%; } }
  .scroll .one .farm-fresh {
    top: 2%;
    right: 2%;
    width: 15%; }
  .scroll .one .bee-friendly {
    bottom: 24%;
    left: 23%;
    width: 11%; }
    @media screen and (max-width: 39.9375em) {
      .scroll .one .bee-friendly {
        bottom: 21%;
        left: 10%;
        width: 13%; } }
  .scroll .one .tango {
    bottom: 27%;
    left: 39%;
    width: 42%; }
    @media screen and (max-width: 39.9375em) {
      .scroll .one .tango {
        bottom: 30%;
        left: 27%; } }
  .scroll .one .tango-logo {
    bottom: 2%;
    left: 40%;
    width: 42%; }
    @media screen and (max-width: 39.9375em) {
      .scroll .one .tango-logo {
        left: 27%; } }
  .scroll .one .mouse {
    bottom: 3%;
    left: 4%;
    width: 15%;
    animation: mouse 1s ease 5; }
    @media screen and (max-width: 39.9375em) {
      .scroll .one .mouse {
        left: 1%;
        width: 12%; } }
  .scroll .two .vitamin {
    top: 6%;
    left: 2%; }
  .scroll .two .soup {
    border: 2px solid #f9be1d;
    top: 28%;
    left: 20%;
    height: 65%;
    padding: 2%; }
    .scroll .two .soup button {
      position: absolute;
      bottom: -5%;
      margin-left: -1%;
      z-index: 1000; }
    @media screen and (max-width: 39.9375em) {
      .scroll .two .soup {
        left: 10%; } }
  .scroll .two .herbs {
    width: 36%;
    bottom: 12%;
    right: 6%;
    white-space: normal; }
    .scroll .two .herbs img {
      width: 60%;
      margin-left: -10%; }
  .scroll .two .soup-img {
    width: 39%;
    top: 41%;
    left: 13%; }
    @media screen and (max-width: 39.9375em) {
      .scroll .two .soup-img {
        left: 2%; } }
  .scroll .two .chillies {
    width: 31%;
    top: 17%;
    right: 3%; }
    @media screen and (max-width: 39.9375em) {
      .scroll .two .chillies {
        width: 36%; } }
  .scroll .three .potatoes {
    width: 36%;
    top: 28%;
    left: 11%;
    white-space: normal; }
    .scroll .three .potatoes img {
      width: 80%;
      margin-left: -10%; }
    .scroll .three .potatoes b {
      color: #f9be1d; }
  .scroll .three .pesto {
    border: 2px solid #f9be1d;
    top: 11%;
    right: 3%;
    height: 80%;
    padding: 2%; }
    .scroll .three .pesto button {
      position: absolute;
      bottom: -5%;
      margin-left: 9%; }
  .scroll .three .serve-with {
    width: 27%;
    top: 9%;
    right: 37%; }
  .scroll .three .carisma {
    width: 16%;
    bottom: 37%;
    left: 30%; }
  .scroll .three .price-tag {
    width: 16%;
    bottom: 4%;
    left: 42%; }
  .scroll .three .low-gi {
    width: 16%;
    bottom: 0%;
    left: 0%; }
  .scroll .three .dyk {
    width: 21%;
    top: 5%;
    left: 0%; }
  .scroll .three .chicken {
    width: 44%;
    top: 24%;
    right: 0; }
  .scroll .four .roast {
    border: 2px solid #f9be1d;
    top: 3%;
    left: 15%;
    height: 52%;
    padding: 2%; }
    .scroll .four .roast button {
      position: absolute;
      bottom: -5%;
      margin-left: 2%; }
  .scroll .four .strawberries {
    width: 41%;
    top: 17%;
    right: 1%;
    white-space: normal; }
    .scroll .four .strawberries img {
      width: 69%;
      margin-left: -10%; }
    @media screen and (max-width: 39.9375em) {
      .scroll .four .strawberries {
        top: 9%; } }
  .scroll .four .kale {
    width: 34%;
    bottom: 7%;
    left: 28%;
    white-space: normal; }
    .scroll .four .kale img {
      width: 69%;
      margin-left: -10%; }
  .scroll .four .venison {
    width: 45%;
    top: 14%;
    left: 6%; }
  .scroll .four .price-tag {
    width: 13%;
    top: 44%;
    right: 34%; }
    @media screen and (max-width: 39.9375em) {
      .scroll .four .price-tag {
        width: 17%; } }
  .scroll .five .smoothie {
    border: 2px solid #f9be1d;
    bottom: 8%;
    left: 5%;
    height: 52%;
    padding: 2%; }
    .scroll .five .smoothie button {
      position: absolute;
      bottom: -5%;
      margin-left: -1%; }
  .scroll .five .chicken {
    border: 2px solid #f9be1d;
    top: 2%;
    right: 5%;
    height: 52%;
    padding: 2%; }
    .scroll .five .chicken button {
      position: absolute;
      bottom: -5%;
      margin-left: 0; }
  .scroll .five .superfood {
    width: 34%;
    top: 17%;
    left: 5%;
    white-space: normal; }
    .scroll .five .superfood img {
      width: 80%;
      margin-bottom: 2%; }
    @media screen and (max-width: 39.9375em) {
      .scroll .five .superfood {
        top: 13%; } }
  .scroll .five .sprouts {
    width: 39%;
    bottom: 12%;
    left: 38%;
    white-space: normal; }
    .scroll .five .sprouts img {
      width: 66%;
      margin-left: -5%; }
    @media screen and (max-width: 39.9375em) {
      .scroll .five .sprouts {
        bottom: 6%; } }
  .scroll .five .what-else {
    bottom: 3%;
    right: 3%;
    padding: 2% 5%; }
    @media screen and (max-width: 39.9375em) {
      .scroll .five .what-else {
        bottom: 0;
        right: 0;
        padding: 1% 2%; } }
  .scroll .five .avo {
    width: 30%;
    bottom: 13%;
    left: 3%; }
  .scroll .five .stir-fry {
    width: 34%;
    top: 11%;
    right: 2%; }
  .scroll .five .lower {
    width: 11%;
    top: 2%;
    left: 34%; }
    @media screen and (max-width: 39.9375em) {
      .scroll .five .lower {
        width: 13%; } }
  .scroll .five .price-tag {
    width: 16%;
    top: 45%;
    left: 34%; }
    @media screen and (max-width: 39.9375em) {
      .scroll .five .price-tag {
        width: 17%; } }
  .scroll .five .wok {
    width: 10%;
    top: 25%;
    left: 52%; }

@keyframes mouse {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.5; } }

/*# sourceMappingURL=app-test.css.map */
