/*NAVIGATION*/

#wrapper {
}

#header-menu {
  background: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0.5em 0;
  // position: fixed; /* Set the navbar to fixed position */
  // top: 0; /* Position the navbar at the top of the page */
  // width: 100%; /* Full width */
  // z-index: 1000;
}
#header-menu #logo {
  width: 18%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #header-menu #logo {
    width: 30%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 767px) {
  #header-menu #logo {
    width: 50%;
  }
}
#header-menu #logo img {
  max-width: 100%;
}
#header-menu #header-share {
  width: 15%;
  align-self: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #header-menu #header-share {
    width: 10%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 767px) {
  #header-menu #header-share {
    display: none;
  }
}
#header-menu #header-share div {
  padding: 0.25em;
  margin: 0 2.5%;
  border: 1px solid black;
  font-size: 1vw;
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #header-menu #header-share div {
    font-size: 1.6vw;
  }
}
@media only screen and (min-width : 320px) and (max-width : 767px) {
  #header-menu #header-share div {
    font-size: 4vw;
  }
}
#header-menu #header-share .fb {
  border-color: #37588e;
  color: #37588e;
}
#header-menu #header-share .tw {
  border-color: #5aaae7;
  color: #5aaae7;
}
#header-menu #header-share .newsletter {
  border-color: #278584;
  color: #278584;
}
.header-menu-items.desktop {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: auto;
  align-self: center;
  margin-left: auto;
  padding-right: 2.5%;
}
.header-menu-items.desktop ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-menu-items.desktop ul li {
  padding: 0 0.5em;
  margin: 0;
  list-style: none;
  display: inline-block;
}
.header-menu-items.desktop ul li a {
  color: black;
  text-decoration: none;
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .header-menu-items.desktop {
    display: none;
  }
}
@media only screen and (min-width : 320px) and (max-width : 767px) {
  .header-menu-items.desktop {
    display: none;
  }
}
    .header-menu-items.mobile {
  display: none;
}
.header-menu-items.mobile ul {
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  background: #ffffff;
}
.header-menu-items.mobile ul li {
  padding: 0.5em;
  margin: 0;
  font-size: 0.9em;
  list-style: none;
  border-bottom: 1px solid black;
}
.header-menu-items.mobile ul li a {
  color: black;
  text-decoration: none;
}
.header-menu-items.mobile ul li.static-menu-trigger {
  position: absolute;
  top: 0;
  right: 2.5%;
  border: none;
  font-size: 4vw;
  font-weight: bold;
  padding: 5px 10px;
  color: #1a7e7c;
  border: 2px solid #1a7e7c;
  margin-top: 12px;
}
.header-menu-items.mobile.open ul {
  max-height: 300px;
  transition: max-height 0.5s;
  background: #ffffff;
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .header-menu-items.mobile {
    display: block;
  }
}
@media only screen and (min-width : 320px) and (max-width : 767px) {
  .header-menu-items.mobile {
    display: block;
  }
}

/*FOOTER*/

#footer-menu {
  background: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 1em 0;
  /*margin-top: 2%;*/
  -webkit-box-shadow: 0px -3px 3px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px -3px 3px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 3px -3px 1px rgba(0,0,0,0.15);
}

.footer-menu-items.desktop {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: auto;
  /*align-self: center;*/
  text-align: center;
  margin: 0 auto;

}

.footer-menu-items.desktop ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-menu-items.desktop ul li {
  padding: 0 1em;
  margin: 0;
  list-style: none;
  display: inline-block;
  font-size: 0.8rem;
}
.footer-menu-items.desktop ul li a {
  color: black;
  text-decoration: none;
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #footer-menu{
    margin-top: 0;
  }

  .footer-menu-items.desktop {
  width: auto;
  text-align: center;
  margin: 0 auto;

}
  .footer-menu-items.desktop ul li{
    text-align: center;
    padding: 0.3rem;
    font-size: 0.8rem;
  }
}
@media only screen and (min-width : 320px) and (max-width : 767px) {
  .footer-menu-items.desktop ul li{
    width: 100%;
    text-align: center;
    padding: 0.3rem;
    font-size: 0.8rem;
  }

   #footer-menu{
    margin-top: 5px;
  }
}